[Desktop Entry]
Version=1.0
Type=Application
Name=NaNVR
GenericName=Game
Comment=NaNVR is an open source remote VR display which allows playing SteamVR games on a standalone headset such as Gear VR or Oculus Go/Quest.
Exec=dashboard
Icon=alvr
Categories=Game;
StartupNotify=true
StartupWMClass=nanvr.dashboard
